{% extends "base.html" %}
{% load static %}

{% block title %}Tools{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tools.css' %}">
{% endblock %}


{% block content %}
<div class="tools-container">
    <header class="tools-header">
        <h1>Tools</h1>
    </header>

    <section class="tools-section">
        <div class="tools-grid">
            <div class="tool-card external-tool formal-tool">
                <div class="tool-content">
                    <h3>dotslashgabut.github.io/cutopt</h3>
                    <p>Its a handy cutting tool!</p>
                    <a href="https://dotslashgabut.github.io/cutopt.html" class="tool-button external">Visit cutopt</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block sidebar %}
<div class="tools-sidebar">
    <h2>Quick Access</h2>

    <div class="sidebar-section">
        <h3>Resources</h3>
        <ul class="sidebar-links">
            <li><a href="https://dotslashgabut.github.io/cutopt.html">Cutopt</a></li>
        </ul>
    </div>
</div>
{% endblock %}